# Node
node_modules/
build/
.DS_Store
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

# backups created by scripts
main_backup_*/
*/src/components/ui_backup_*/
